<div class="user-container">
  <mat-card class="user-card" *ngFor="let user of users">
    <img class="user-card__avatar" mat-card-avatar src="assets/img/account_circle.svg">
    <mat-card-title>{{user.name}}</mat-card-title>
    <mat-card-content>
      <p>
        <i class="material-icons">
          phone
        </i>
        {{user.email}}
      </p>
      <p>
        <i class="material-icons">
          email
        </i>
        {{user.email}}
      </p>
      <p>
        <i class="material-icons">
          email
        </i>
        {{user.website}}
      </p>
      <p>
        <i class="material-icons">
          home
        </i>
        Endereço:
        </p>

        <p>{{user.address.street}} - {{user.address.suite}}</p>
        <p>{{user.address.city}} - zip Code: {{user.address.zipcode}}</p>
        
      {{user.email}}
      {{user.phone}}
      {{user.website}}
    </mat-card-content>
  </mat-card>
</div>