.todos-container {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    .todo__not-started {
        color: #EF9A9A;
    }
    .todo__completed {
        color: #80CBC4;
    }
}

@media (max-width: 1200px) {
    .todos-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 640px) {
    .todos-container{
        grid-template-columns: 100%;
    }
}