<div class="todos-container">
  <mat-card *ngFor="let todo of todos">
    <mat-card-title>{{todo.title}}</mat-card-title>
    <mat-card-footer class="card-footer">
      <i *ngIf="todo.completed else notCompleted" class="material-icons todo__completed" matTooltip="Atividade Concluída"
        matTooltipPosition="right">
        done_all
      </i>
    </mat-card-footer>
  </mat-card>
</div>

<ng-template #notCompleted>
  <i class="material-icons todo__not-started" matTooltip="Atividade não iniciada" matTooltipPosition="right">
    not_started
  </i>
</ng-template>