.todos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    .todo__not-started {
        background-color: #EF9A9A;
    }
    .todo__completed {
        background-color: #80CBC4;
    }
}