<mat-sidenav-container class="navbar-container">
  <mat-sidenav class="sidenave" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a routerLink="/" mat-list-item>
        <i class="material-icons">home</i>
        <span>Início</span>
      </a>
      <a routerLink="/todos" mat-list-item>
        <i class="material-icons">checklist</i>
        <span>Todos</span>
      </a>
      <a routerLink="/posts" mat-list-item>
        <i class="material-icons">notifications</i>
        <span>Posts</span>
      </a>
      <a routerLink="/albums" mat-list-item>
        <i class="material-icons">collections</i>
        <span>Albuns</span>
      </a>
      <a routerLink="/users" mat-list-item>
        <i class="material-icons">perm_identity</i>
        <span>Usuários</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="container-sidenav">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>