@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.sidenav-container {
    height: 100%;
}


.logo {
    font-family: 'Comfortaa', cursive;
    color: #fff;
}

.header {
    margin-bottom: 1rem;
}

.sidenav {
    width: 200px;
    background-color: #673ab7;
    .navbar {
        a {
            color: #fff;
        }
    }

    .mat-toolbar {
        background: inherit;
        &.mat-primary {
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }
}

.current-page {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #323232;

    
}
