.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    .posts {
        .posts__title {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}

@media (max-width: 640px) {
    .posts-container {
        grid-template-columns: 1fr;
    }

}