.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    .posts {
        .posts__title {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}